# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.next/
out/
*.tsbuildinfo

# test / coverage
coverage/

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.log
.vercel

# JetBrains IDE
.idea/
tmp_code_source.html
